body {
  background: #fefefe;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.4;
  text-decoration: underline;
}

a:active {
  color: cornflowerblue;
}

a:visited {
  color: rgb(78, 1, 92);
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 10px auto;
  max-width: 95%;
}

.profile_image {
  width: 250px;
  border-radius: 4%;
  margin: 0;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.description {
  width: 70%;
}

.card {
  margin-top: 20px;
  padding: 20px 15px;
  background: #f1f1f1;
  border-radius: 20px;
  min-width: 75%;
}

.card-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: content-box;
}

.card-hobby-exp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 250px;
}

.hobbies h2 {
  margin: 0;
}

.exp {
  width: 70%;
}

.exp h2 {
  margin: 0;
}

.exp table {
  margin-top: 15px;
}

.social-links {
  padding-left: 0;
  margin: 0;
}
.social-links li {
  display: inline-block;
}

.card-contact h2 {
  text-align: center;
}

.form-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.form-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45%;
}

.form-info #name,
.form-info #email {
  min-height: 30px;
}

.form-text {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

.btn {
  background: #000;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  font-family: inherit;
  transition: all 0.4s;
}

.submit-btn-wrapper {
  text-align: center;
}
.card-contact .btn {
  width: 50%;
}

.btn:hover {
  background: #fff;
  color: #000;
}

table tbody tr {
  background: #fff;
  text-align: center;
}

table tr:nth-child(even) {
  color: #fff;
  background: #000;
}

td,
th {
  padding: 15px;
}

td:hover,
th:hover {
  background: pink;
}

textarea {
  max-width: 95%;
}
@media (max-width: 650px) {
  .card {
    align-items: center;
    width: 90%;
  }
  .card-info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .description {
    text-align: center;
  }

  .card-hobby-exp {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hobbies {
    width: 100%;
  }
  .exp {
    text-align: center;
    width: 100%;
  }

  table {
    margin: auto;
    font-size: 14px;
  }
}
